<div class="article">
  {{#link-to "main.articles-all" class="article-show_all"}}Return to All{{/link-to}}
  <img src={{article.imageURL}} class="article-img"/>
  <div class="article-title">{{article.title}}</div>
  <div class="article-desciption">{{article.description}}</div>
  <div class="article--end"></div>
</div>