<nav>
  <ul class="nav_list">
    <li class="nav_list-item nav_list-item--main">
      {{#link-to "main"}} Main {{/link-to}}
    </li>
    <li class="nav_list-item nav_list-item--articles">
      {{#link-to "main.articles-all"}} All Articles {{/link-to}}
    </li>
  </ul>
</nav>
{{yield}}